DSC 540
Week 7 & 8 Assignment
Eyram Kueviakoe

For this assignment, we will be working candyhierarchy2017.xlsx and BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx
We have download and upload the files to our github repository

In [1]:
# Importing the librairies
import pandas as pd
import numpy as np

In [2]:
url1 = 'https://raw.githubusercontent.com/kueyram/DSC540/main/candyhierarchy2017.csv'
url2 = 'https://raw.githubusercontent.com/kueyram/DSC540/main/BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.csv'
candyhierarchy = pd.read_csv(url1)
survey_data = pd.read_csv(url2)

In [3]:
# Size of the dataframe
candyhierarchy.shape

(2460, 120)

In [4]:
# Let's view the first 5 rows of the dataframe
candyhierarchy.head(5)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

#### Chapter 7 ###

In [5]:
# Let's check for missing values
candyhierarchy.isna().sum()

Internal ID                    0
Q1: GOING OUT?               110
Q2: GENDER                    41
Q3: AGE                       84
Q4: COUNTRY                   64
                            ...
Q12: MEDIA [Daily Dish]     2375
Q12: MEDIA [Science]        1098
Q12: MEDIA [ESPN]           2361
Q12: MEDIA [Yahoo]          2393
Click Coordinates (x, y)     855
Length: 120, dtype: int64

Internal ID column has no missing data. That means if we try to delete rows with missing values, no row will be deleted. Let's check if Internal ID has duplicates or it is unique. We can then use it as Index for the dataset

In [6]:
Internal_ID_duplicates = candyhierarchy.index.duplicated().sum()
print(Internal_ID_duplicates)

0

Internal ID is unique, we will set is at index for the dataset

In [7]:
# Setting Internal ID as index
candyhierarchy.set_index(['Internal ID'],inplace=True)

In [8]:
# Filter out missing data: We will delete rows where all values are NaN
candyhierarchy.dropna(how='all',inplace=True)

# Size of the dataframe
candyhierarchy.shape

(2439, 119)

Remove duplicates
Let's check if there are any duplicate in the dataset

In [9]:
# Checking for duplicates
candyhierarchy.duplicated().sum()

15

In [10]:
# Let's remove the duplicates
candyhierarchy.drop_duplicates(inplace=True)

# Size of the dataframe
candyhierarchy.shape

(2424, 119)

Let's drop rows where 25% of values are missing

In [11]:
# Let's check again for the missing values
candyhierarchy.isna().sum()

Q1: GOING OUT?                        89
Q2: GENDER                            17
Q3: AGE                               54
Q4: COUNTRY                           34
Q5: STATE, PROVINCE, COUNTY, ETC      70
                                    ...
Q12: MEDIA [Daily Dish]             2339
Q12: MEDIA [Science]                1062
Q12: MEDIA [ESPN]                   2325
Q12: MEDIA [Yahoo]                  2357
Click Coordinates (x, y)             819
Length: 119, dtype: int64

In [12]:
# Dropping rows where 25% of the values are missing
# Let's calculate the threshold for each column
threshold = len(candyhierarchy.columns) // 4

# Removing the rows
candyhierarchy = candyhierarchy.dropna(thresh=threshold)

# Size of the dataset
candyhierarchy.shape

(1793, 119)

Manipulate Strings

In [13]:
# List of columns
candyhierarchy.columns

Index(['Q1: GOING OUT?', 'Q2: GENDER', 'Q3: AGE', 'Q4: COUNTRY',
       'Q5: STATE, PROVINCE, COUNTY, ETC', 'Q6 | 100 Grand Bar',
       'Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes)',
       'Q6 | Any full-sized candy bar', 'Q6 | Black Jacks',
       'Q6 | Bonkers (the candy)',
       ...
       'Q8: DESPAIR OTHER', 'Q9: OTHER COMMENTS', 'Q10: DRESS', 'Unnamed: 113',
       'Q11: DAY', 'Q12: MEDIA [Daily Dish]', 'Q12: MEDIA [Science]',
       'Q12: MEDIA [ESPN]', 'Q12: MEDIA [Yahoo]', 'Click Coordinates (x, y)'],
      dtype='object', length=119)

In [14]:
# Let's convert State to Uppercase
candyhierarchy['Q4: COUNTRY'] = candyhierarchy['Q4: COUNTRY'].str.upper()

# Let's print 5 random rows
candyhierarchy.sample(n=5)

,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
Internal ID,,,,,,,,,,,,,,,,,,,,,
90276131,NaN,Female,38,UNITED STATES,WA,JOY,DESPAIR,JOY,NaN,MEH,...,NaN,NaN,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(72, 42)"
90275880,No,Male,51,UNITED STATE,Illinois,JOY,DESPAIR,JOY,MEH,MEH,...,Homemade popcorn balls - ugh!,Anything homemade - despair! Folks wouldn't le...,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(75, 26)"
90278915,No,Male,63,USA,New York,DESPAIR,DESPAIR,JOY,MEH,DESPAIR,...,empty box of Mallow cups,Where are the Mallow cups?,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(65, 19)"
90285723,No,Male,48,UNITED STATES,Texas,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,...,NaN,NaN,Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(59, 33)"
90273094,No,Male,46,CANADA,Ontario,MEH,MEH,JOY,MEH,MEH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Chapter 8 ###

In [15]:
# Create hierarchical index
# We will create hierarchical index using Country and Gender
df_candyhierarchy = candyhierarchy.set_index(['Q4: COUNTRY', 'Q2: GENDER'])

df_candyhierarchy.head()

,,Q1: GOING OUT?,Q3: AGE,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),Q6 | Bonkers (the board game),Q6 | Bottle Caps,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
Q4: COUNTRY,Q2: GENDER,,,,,,,,,,,,,,,,,,,,,
USA,Male,No,44,NM,MEH,DESPAIR,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
US,Male,No,40,or,MEH,DESPAIR,JOY,MEH,MEH,DESPAIR,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
USA,Male,No,23,exton pa,JOY,DESPAIR,JOY,DESPAIR,MEH,DESPAIR,MEH,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"
NaN,Male,No,NaN,NaN,JOY,DESPAIR,JOY,NaN,NaN,NaN,MEH,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"(75, 23)"
CANADA,Male,No,33,ontario,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,MEH,JOY,...,when the little kids get the big chocolate bar...,"first person to give out cans of beer, wins",Blue and black,NaN,Friday,NaN,1.0,NaN,NaN,"(55, 5)"

Reshape

In [16]:
# We need to set the indexes
dfcandyhierarchy = candyhierarchy.set_index(['Q4: COUNTRY', 'Q2: GENDER', 'Q1: GOING OUT?', 'Q3: AGE', 'Q5: STATE, PROVINCE, COUNTY, ETC'])

# Stack the dataset
candyhierarchy_stacked = dfcandyhierarchy.stack().reset_index()

# Print the result
candyhierarchy_stacked.sample(n=5)

,Q4: COUNTRY,Q2: GENDER,Q1: GOING OUT?,Q3: AGE,"Q5: STATE, PROVINCE, COUNTY, ETC",level_5,0
105450,UNITED STATES,Male,Yes,43,VA,Q6 | Independent M&M's,MEH
102325,CANADA,Male,No,45,Ontario,Q6 | Black Jacks,MEH
138207,US,Female,No,NaN,NY,Q6 | Take 5,DESPAIR
151600,SCOTLAND,Male,Yes,43,Glasgow,Q6 | Caramellos,MEH
124747,UNITED STATES,Male,No,39,Washington,Q6 | Dental paraphenalia,DESPAIR

In [17]:
# Let's create subsets from the main dataset
# Subset for male only
male_subset = candyhierarchy[candyhierarchy['Q2: GENDER'] == 'Male']

# Subset for female only
female_subset = candyhierarchy[candyhierarchy['Q2: GENDER'] == 'Female']

# Resetting index for the subsets
male_subset.reset_index(inplace=True)
female_subset.reset_index(inplace=True)

# Survey response for female
female_responses = female_subset[['Internal ID', 'Q1: GOING OUT?', 'Q3: AGE']]

# Rename the columns
female_responses.columns = ['Internal ID', 'Q1: GOING OUT? (Female)', 'Q3: AGE (Female)']

# Survey response for male
male_responses = male_subset[['Internal ID', 'Q1: GOING OUT?', 'Q3: AGE']]

# Rename the columns
male_responses.columns = ['Internal ID', 'Q1: GOING OUT? (Male)', 'Q3: AGE (Male)']

In [18]:
# Let's print the subsets
print('Female responses')
female_responses.sample(n=5)

Female responses

     Internal ID Q1: GOING OUT? (Female) Q3: AGE (Female)
386     90279829                      No               35
417     90281076                      No               34
494     90284388                      No               53
166     90275759                      No               30
61      90273529                      No               51

In [19]:
print('Maleresponses')
male_responses.sample(n=5)

Maleresponses

      Internal ID Q1: GOING OUT? (Male) Q3: AGE (Male)
870      90284292                    No             44
193      90273954                   Yes             51
426      90276802                    No             40
510      90277436                    No             38
1008     90289160                    No             54

#### Chapter 10 ####

Grouping with Index Levels

In [20]:
# Let set 'Q4: COUNTRY', 'Q5: STATE, PROVINCE, COUNTY, ETC' as indexes

# For clarity let's rename Q4: COUNTRY to COUNTRY and Q5: STATE, PROVINCE, COUNTY, ETC to LOCATION
candyhierarchy.rename(columns={'Q4: COUNTRY': 'COUNTRY', 'Q5: STATE, PROVINCE, COUNTY, ETC': 'LOCATION'}, inplace=True)

# Setting the indexes
candyhierarchy.set_index(['COUNTRY', 'LOCATION'], inplace=True)

# Groupping by the index levels and count the occurrences in each group
candyhierarchy_grouped = candyhierarchy.groupby(level=['COUNTRY', 'LOCATION']).count()

# Print the grouped data
candyhierarchy_grouped.head(5)

,,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,Q6 | Bonkers (the candy),Q6 | Bonkers (the board game),Q6 | Bottle Caps,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
COUNTRY,LOCATION,,,,,,,,,,,,,,,,,,,,,
'MERICA,Merlin,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,0,1,0,0,1
A,A,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,0,1,0,0,1
AHEM....AMERCA,see question 2,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,0,1,0,0,1
ALASKA,USA,1,1,1,1,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
AMERICA,Alabama,1,0,1,1,1,1,1,1,1,1,...,1,0,1,0,1,0,1,0,0,1

Split/Apply/Combine:

In [21]:
# Let's count the number of record for each gender group
# Grouping the data by Gender
candyhierarchy_grouped_by_gender= candyhierarchy.groupby('Q2: GENDER')

# Count the number of records in each gender group
count_per_gender = candyhierarchy_grouped_by_gender.size()

# Printing the result
print(count_per_gender)

Q2: GENDER
Female                 617
I'd rather not say      60
Male                  1080
Other                   26
dtype: int64

#### Chapter 11 ####

In [22]:
# We will use the survey_data which has a timestamp colums
survey_data.columns

Index(['Timestamp', 'Are you going actually going trick or treating yourself?',
       'Your gender:', 'How old are you?', 'Which country do you live in?',
       'Which state, province, county do you live in?', ' [100 Grand Bar]',
       ' [Anonymous brown globs that come in black and orange wrappers]',
       ' [Any full-sized candy bar]', ' [Black Jacks]',
       ...
       'Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling]',
       'Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams]',
       'Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©]',
       'Please estimate the degree(s) of separation you have from the following celebrities [Bieber]',
       'Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon]',
       'Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]',
       'Which day do you prefer, Friday or Sunday?',
       'Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?',
       'When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).',
       ' [York Peppermint Patties] Ignore'],
      dtype='object', length=123)

In [23]:
# View the first rows of the dataset
survey_data.head(5)

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,10/24/2016 5:09:23,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,10/24/2016 5:09:55,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,10/24/2016 5:13:07,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,10/24/2016 5:14:17,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,10/24/2016 5:14:25,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

In [24]:
# Let's convert the timestamp columns to datetime
survey_data['Timestamp'] = pd.to_datetime(survey_data['Timestamp'])

In [25]:
# Converting timestamp columns to day of the week
survey_data['Day_of_Week'] = survey_data['Timestamp'].dt.day_name()

# Inserting Day_of_Week columns as the second column in the dataset
survey_data.insert(1, 'Day_of_Week', survey_data.pop('Day_of_Week'))

# Preview the dataset
survey_data.sample(n=5)

,Timestamp,Day_of_Week,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
678,2016-10-24 17:50:12,Monday,No,NaN,31,USA,NaN,JOY,DESPAIR,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,YAHOO! Finance.,NaN
66,2016-10-24 06:00:35,Monday,No,Male,38,Canada,Ontario,MEH,MEH,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1210,2016-10-27 17:22:04,Thursday,No,Male,30,USA,NJ,JOY,DESPAIR,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
1233,2016-10-28 10:19:10,Friday,No,Female,29,United States,California,JOY,DESPAIR,JOY,...,NaN,NaN,NaN,NaN,NaN,NaN,Friday,East to West,Science: Latest News and Headlines,NaN
1054,2016-10-27 09:47:33,Thursday,Yes,Male,45,Usa,Ca,JOY,DESPAIR,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,2,2,Sunday,South to North,Science: Latest News and Headlines,NaN

In [26]:
# Let's convert timestamp to daily frequency
survey_data['Period'] = survey_data['Timestamp'].dt.to_period('D')

# Let's insert the new column to the dataset
survey_data.insert(2, 'Period', survey_data.pop('Period'))

# Preview the final dataset
survey_data.sample(n=5)

,Timestamp,Day_of_Week,Period,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [BeyoncÃ©],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23,Monday,2016-10-24,No,Male,22,Canada,Ontario,JOY,DESPAIR,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:55,Monday,2016-10-24,No,Male,45,usa,il,MEH,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:07,Monday,2016-10-24,No,Female,48,US,Colorado,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17,Monday,2016-10-24,No,Male,57,usa,il,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:25,Monday,2016-10-24,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN